body {
	background-color: #9FB456;
	color: whitesmoke;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
	margin: auto;
	width: 80%;
}

.shopLogo{
    height: 100px;
    width: 95px;
}